.items {
  position: relative;
  background: white;
  color: rgba(black, 0.8);
  overflow: hidden;
  box-shadow: var(--main-shadow);
  width: 200px;
}

.item {
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  padding: 4px;

  &.is-selected,
  &:hover {
    color: var(--c-black);
    background: var(--c-gray);
  }

  > span {
    display: inline-flex;
    align-items: center;
  }

  .anticon,
  .c-Icon {
    margin-right: 8px;
    height: 18px;
    width: 18px;
  }
}
