.items {
  position: relative;
  border-radius: 8px;
  background: white;
  color: rgba(black, 0.8);
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.item {
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  padding: 8px;
  line-height: 24px;

  &.is-selected,
  &:hover {
    color: #a975ff;
    background: rgba(#a975ff, 0.1);
  }

  > span {
    display: inline-flex;
    align-items: center;
  }

  .anticon,
  .c-Icon {
    margin-right: 8px;
    height: 18px;
    width: 18px;
  }
}
