@import "../styles/ats/ats";
.c-DiceRoller {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 300px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid var(--c-gray);
  box-shadow: var(--main-shadow);
  transition: opacity 0.5s;
  opacity: 0;
  cursor: pointer;

  .c-DiceRoller-anim {
    height: 100%;

    table {
      $size: 4px;
      font-size: $size !important;
      line-height: $size !important;
    }
  }
}
