@import './reset';

body {
  padding: 0;
  margin: 0;
}

.main-nav {
  width: 100vw;
  height: 8vh;
  padding: 16px;
  background: #e5e5e5;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    height: 100%;

    .logo {
      max-height: 100%;
    }
  }

}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal-root {
  > .modal:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(#000, 0.3);
    height: 100vh;
    width: 100vw;
  }

  > .modal > * {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: #ffffff;
    padding: 32px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(#000, 0.5);
  }
}
