@import "../../styles/ats/ats";

.dice-notation {
  color: var(--c-blue);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
  margin: 0 2px;
  background-color: rgba(color("blue"), 0.2);
}
