html {
  font-size: var(--reference-size);
}

body {
  position: relative;
  font-family: var(--ui-font);
  font-size: 14px;
  color: var(--text-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--header-font);
}

form {
  display: flex;
  flex-direction: column;
  min-width: 400px;

  > * + * {
    margin-top: 0.75em;
  }

  label {
    display: flex;
    flex-direction: column;

    input {
      height: 35px;
    }
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: var(--c-light-gray);
  color: var(--c-black);
  border: 1px solid var(--c-gray);
  cursor: pointer;
  box-shadow: none;

  &:hover {
    box-shadow: var(--main-shadow);
  }
}

p {
 width: 100%;
 max-width: 60em;
}

hr {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--c-light-gray);
}
