.stat-block {
  background: #F5F5F5;
  box-shadow: 0 0 5px #979AA4;
  border: 1px solid #d4d0ce;
  padding: 15px;
  margin: 15px;
  position: relative;
  width: 50%;

  .label {
    margin-left: 15px;
    background-color: #0D0D0D;
    font-size: 0.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    padding: 0.25rem 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .stat-block-name {
    margin: 2.5rem 1rem 1rem;
    padding: 0.5rem;
    border: 2px dashed #0D0D0D20;
    border-radius: 0.5rem;
  }

  .content {
    margin: 2.5rem 1rem 1rem;
    column: 2;
    padding: 0.5rem;
    border: 2px dashed #0D0D0D20;
    border-radius: 0.5rem;
  }
}
